{% extends 'users/base.html' %}
{% load static %}
{% block title %}Humedad{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <i class="fas fa-cloud" ></i>

          <h3 class="box-title">Humedad</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="chart-responsive">
                <canvas id="myChart"  height="100"></canvas>
              </div>
              <!-- ./chart-responsive -->
            </div>
            <!-- /.col -->

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
    </div>
    <!-- ./col -->
</div>
<div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header">

          <h3 class="box-title">Estado de los sensores</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>12</h1>
              <h3>Sensores activos</h3>

              <!-- ./chart-responsive -->
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
      <div class="box box-primary">
        <div class="box-header">
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>0</h1>
              <h3>Errorres detectados</h3>

              <!-- ./chart-responsive -->
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
    </div>
    <!-- ./col -->
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>No.</th>
              <th>Porcentaje %</th>
              <th>Fecha</th>
              <th>Hora</th>
              <th>Estado</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><a href=""data-toggle="modal" data-target="#modal-edit">Sensor1</a></td>
              <td>20</td>
              <td>21/10/2018</td>
              <td>2</td>
              <td><i class="fas fa-exclamation-circle"></i></td>
            </tr>
            <tr>
              <td><a href=""data-toggle="modal" data-target="#modal-edit">Sensor2</a></td>
              <td>25</td>
              <td>21/10/2018</td>
              <td>15</td>
              <td></td>
            </tr>
            <tr>
              <td><a href=""data-toggle="modal" data-target="#modal-edit">Sensor3</a></td>
              <td>36</td>
              <td>21/10/2018</td>
              <td>1</td>
              <td></td>
            </tr>
            <tr>
              <td><a href=""data-toggle="modal" data-target="#modal-edit">Sensor4</a></td>
              <td>55</td>
              <td>21/10/2018</td>
              <td>5</td>
              <td><i class="fas fa-exclamation-circle"></i></td>
            </tr>
            <tr>
              <td><a href=""data-toggle="modal" data-target="#modal-edit">Sensor5</a></td>
              <td>14</td>
              <td>21/10/2018</td>
              <td>2</td>
              <td></td>
            </tr>

            </tbody>
          </table>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
    </div>
    <!-- ./col -->
</div>
{% endblock %}
{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
  <!-- DataTables -->
  <script src="{% static "users/bower_components/datatables.net/js/jquery.dataTables.min.js" %} "></script>
  <script src="{% static "users/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %} "></script>

  <!-- page script -->
  <script>
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>

<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>

<!-- page script -->
<script>
  var myChart = document.getElementById('myChart').getContext('2d');
  var massPopChart = new Chart(myChart, {
    type: 'line',
      data: {
          labels: [7,8,9,10,11,12,13,14,15,16],
          datasets: [{
            data: [15,50,25,60,42,80,75,25,60,20],
            label: "Diario",
            backgroundColor: "rgba(235, 130, 130, 0.7)",
            borderColor: "rgb(235, 130, 130)",
            fill: true
          }, {
            data: [30,50,60,10,40,90,60,60,40,20],
            label: "Semanal",
            backgroundColor: "rgba(193, 235, 130, 0.7)",
            borderColor: "rgb(193, 235, 130)",
            fill: true
          }, {
            data: [10,25,48,85,23,74,56,23,48,65],
            label: "Mensual",
            backgroundColor: "rgba(131, 234, 235, 0.7)",
            borderColor: "rgb(131, 234, 235)",
            fill: true
          }
        ]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
</script>
{% endblock %}
