{% extends 'users/base.html' %}
{% load static %}
{% block title %}My App{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-4">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Presión</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="chart-responsive">
                <canvas id="chart-presion" height="290"></canvas>
              </div>

              <!-- ./chart-responsive -->
            </div>
            <!-- /.col -->
            <div class="col-xs-12" style="position: absolute;top: 280px;">
              <h2 class="text-center">50</h2>
            </div>

            <div class="col-xs-12" style="position: absolute;top: 325px;">
              <div class="col-xs-10">
                <h4>0</h4>
              </div>
              <div class="col-xs-2">
                <h4>100</h4>
              </div>
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
      <div class="box box-primary">
        <div class="box-header">

          <h3 class="box-title">Estado de los sensores</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>12</h1>
              <h3>Sensores activos</h3>

              <!-- ./chart-responsive -->
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
      <div class="box box-primary">
        <div class="box-header">

          <h3 class="box-title">Fallas</h3>
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12 text-center">
              <h1>0</h1>
              <h3>Errores detectados</h3>

              <!-- ./chart-responsive -->
            </div>

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
    </div>
    <!-- ./col -->
    <div class="col-md-8">
      <div class="box box-primary">
        <div class="box-header">
          <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
            <div class="btn-group">

              <button type="button" class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-wrench"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Sensor 1</a></li>
                <li><a href="#">Sensor 2</a></li>
                <li><a href="#">Sensor 3</a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-12">
              <div class="box-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>No.</th>
                    <th>Presión</th>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Estado</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">1</a></td>
                    <td>20</td>
                    <td>21/10/2018</td>
                    <td>2</td>
                    <td><i class="fas fa-exclamation-circle"></i></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">2</a></td>
                    <td>25</td>
                    <td>21/10/2018</td>
                    <td>15</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">3</a></td>
                    <td>36</td>
                    <td>21/10/2018</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">4</a></td>
                    <td>55</td>
                    <td>21/10/2018</td>
                    <td>5</td>
                    <td><i class="fas fa-exclamation-circle"></i></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">5</a></td>
                    <td>14</td>
                    <td>21/10/2018</td>
                    <td>2</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">6</a></td>
                    <td>20</td>
                    <td>21/10/2018</td>
                    <td>2</td>
                    <td><i class="fas fa-exclamation-circle"></i></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">7</a></td>
                    <td>25</td>
                    <td>21/10/2018</td>
                    <td>15</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">8</a></td>
                    <td>36</td>
                    <td>21/10/2018</td>
                    <td>1</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">9</a></td>
                    <td>55</td>
                    <td>21/10/2018</td>
                    <td>5</td>
                    <td><i class="fas fa-exclamation-circle"></i></td>
                  </tr>
                  <tr>
                    <td><a href=""data-toggle="modal" data-target="#modal-edit">10</a></td>
                    <td>14</td>
                    <td>21/10/2018</td>
                    <td>2</td>
                    <td></td>
                  </tr>

                  </tbody>
                </table>

                </div>
            </div>
            <!-- /.col -->

          </div>
          <!-- /.row -->
        </div>
        <!-- /.box-body -->

      </div>
      <!-- /.box -->
    </div>
    <!-- ./col -->
</div>
{% endblock %}
{% block javascript %}
{% include 'adminlte/lib/_scripts.html' %}
  <!-- DataTables -->
  <script src="{% static "users/bower_components/datatables.net/js/jquery.dataTables.min.js" %} "></script>
  <script src="{% static "users/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js" %} "></script>

  <!-- page script -->
  <script>
    $(function () {

      $('#example1').DataTable({
        'paging'      : true,
        'lengthChange': true,
        'searching'   : true,
        'ordering'    : true,
        'info'        : true,
        'autoWidth'   : false
      })
    })
  </script>

<!-- ChartJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<!-- jQuery Knob -->
<script src="{% static "users/bower_components/jquery-knob/js/jquery.knob.js" %} "></script>
<!-- page script -->
<script>
  $(function () {
    /* jQueryKnob */

    $(".knob").knob({
      /*change : function (value) {
       //console.log("change : " + value);
       },
       release : function (value) {
       console.log("release : " + value);
       },
       cancel : function () {
       console.log("cancel : " + this.value);
       },*/
      draw: function () {

      }
    });
    /* END JQUERY KNOB */


  });

</script>

<script>
  var myChart = document.getElementById('chart-temp').getContext('2d');
  var massPopChart = new Chart(myChart, {
    type: 'doughnut',
      data: {
          labels: ["UVA", "UVB"],
          datasets: [{
              label: ["UVA", "UVB"],
              data: [35, 65],
              backgroundColor: [
                  'rgba(51, 222, 221, 0.8)',
                  'rgba(97, 97, 97, 0.96)'

              ],
              borderColor: [
                  'rgba(0, 255, 254, 0.8)',
                  'rgba(64, 63, 63, 0.96)'
              ],
              borderWidth: 1
          }]
      },
      options: {
        rotation: -Math.PI,
        circumference: Math.PI

      }
  });
</script>

<script>
  var myChart = document.getElementById('chart-presion').getContext('2d');
  var massPopChart = new Chart(myChart, {
    type: 'doughnut',
      data: {
          labels: ["Presion"],
          datasets: [{
              label: ["UVA", "UVB"],
              data: [35, 65],
              backgroundColor: [
                  'rgba(51, 222, 63, 0.8)',
                  'rgba(97, 97, 97, 0.96)'

              ],
              borderColor: [
                  'rgba(0, 255, 10, 0.8)',
                  'rgba(64, 63, 63, 0.96)'
              ],
              borderWidth: 1
          }]
      },
      options: {
        rotation: -Math.PI,
        circumference: Math.PI

      }
  });
</script>

<script>
  var myChart = document.getElementById('myChart').getContext('2d');
  var massPopChart = new Chart(myChart, {
    type: 'line',
      data: {
          labels: ["9", "10", "11", "12", "13", "14","15","16","17","18"],
          datasets: [{
              label: '% de huemdad',
              data: [12, 19, 5, 7, 6, 15,8,15,4,10],
              backgroundColor: [
                  'rgba(132, 234, 235, 0.8)'
              ],
              borderColor: [
                  'rgba(51, 222, 221, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero:true
                  }
              }]
          }
      }
  });
</script>
<script>
  var myChart = document.getElementById('chart-uva').getContext('2d');
  var massPopChart = new Chart(myChart, {
    type: 'bar',
      data: {
          labels: ["UVA", "UVB"],
          datasets: [{
              label: ["UVA", "UVB"],
              data: [2, 7],
              backgroundColor: [
                  'rgba(131, 235, 154, 0.8)',
                  'rgba(245, 171, 60, 0.96)'

              ],
              borderColor: [
                  'rgba(51, 222, 94, 1)',
                  'rgba(247, 182, 56, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
        scales: {
          xAxes: [{
              stacked: true
          }],
          yAxes: [{
              stacked: true
          }]
      }
      }
  });
</script>
<script>
  var myChart = document.getElementById('chart-aire').getContext('2d');
  var massPopChart = new Chart(myChart, {
    type: 'horizontalBar',
      data: {
          labels: ["H2", "Etanol","CO2"],
          datasets: [{
              label: ["Calidad del aire"],
              data: [125, 230,425],
              backgroundColor: [
                  'rgba(131, 235, 154, 0.8)',
                  'rgba(245, 171, 60, 0.96)',
                  'rgba(245, 71, 60, 0.96)'

              ],
              borderColor: [
                  'rgba(51, 222, 94, 1)',
                  'rgba(247, 182, 56, 1)',
                  'rgba(247, 67, 56, 1)'
              ],
              borderWidth: 1
          }]
      },
      options: {
        scales: {
          xAxes: [{
              stacked: true
          }],
          yAxes: [{
              stacked: true
          }]
      }
      }
  });
</script>
{% endblock %}
